.git/
data/input/
data/output/
data/temp/
notebooks/
images/
synthrad_submission/test/
synthrad_submission/validation/
synthrad_submission/setup/
synthrad_submission/.github/
totalsegmentator/
**/__pycache__/
*.pyc
*.tar.gz
*.tar
