.git/
data/input/
data/output/
data/temp/
notebooks/
images/
algorithm_template/test/
algorithm_template/validation/
algorithm_template/setup/
algorithm_template/.github/
totalsegmentator/
**/__pycache__/
*.pyc
*.tar.gz
*.tar
